### Ordinal number Encoding

In [ ]:
import datetime

In [ ]:
today=datetime.datetime.today()

In [ ]:
today-datetime.timedelta(1)

datetime.datetime(2022, 2, 10, 11, 22, 4, 629880)

In [ ]:
days=[today-datetime.timedelta(x) for x in range(0,15)]

In [ ]:
import pandas as pd
data=pd.DataFrame(days)
data.columns=["Day"]

In [ ]:
data

                          Day
0  2022-02-11 11:22:04.629880
1  2022-02-10 11:22:04.629880
2  2022-02-09 11:22:04.629880
3  2022-02-08 11:22:04.629880
4  2022-02-07 11:22:04.629880
5  2022-02-06 11:22:04.629880
6  2022-02-05 11:22:04.629880
7  2022-02-04 11:22:04.629880
8  2022-02-03 11:22:04.629880
9  2022-02-02 11:22:04.629880
10 2022-02-01 11:22:04.629880
11 2022-01-31 11:22:04.629880
12 2022-01-30 11:22:04.629880
13 2022-01-29 11:22:04.629880
14 2022-01-28 11:22:04.629880

In [ ]:
data.columns=["Day"]

In [ ]:
data.head()

                         Day
0 2022-02-11 11:22:04.629880
1 2022-02-10 11:22:04.629880
2 2022-02-09 11:22:04.629880
3 2022-02-08 11:22:04.629880
4 2022-02-07 11:22:04.629880

In [ ]:
data['Day'].dt.year

0     2022
1     2022
2     2022
3     2022
4     2022
5     2022
6     2022
7     2022
8     2022
9     2022
10    2022
11    2022
12    2022
13    2022
14    2022
Name: Day, dtype: int64

In [ ]:
data['weekday']=data['Day'].dt.day_name()
data

                          Day    weekday
0  2022-02-11 11:22:04.629880     Friday
1  2022-02-10 11:22:04.629880   Thursday
2  2022-02-09 11:22:04.629880  Wednesday
3  2022-02-08 11:22:04.629880    Tuesday
4  2022-02-07 11:22:04.629880     Monday
5  2022-02-06 11:22:04.629880     Sunday
6  2022-02-05 11:22:04.629880   Saturday
7  2022-02-04 11:22:04.629880     Friday
8  2022-02-03 11:22:04.629880   Thursday
9  2022-02-02 11:22:04.629880  Wednesday
10 2022-02-01 11:22:04.629880    Tuesday
11 2022-01-31 11:22:04.629880     Monday
12 2022-01-30 11:22:04.629880     Sunday
13 2022-01-29 11:22:04.629880   Saturday
14 2022-01-28 11:22:04.629880     Friday

In [ ]:
# for i in df['weekday']:
#   if i==""

In [ ]:
dictionary={
    "Monday":1,
    "Tuesday":2,
    "Wednesday": 3,
    "Thursday": 4,
    "Friday": 5,
    "Saturday": 6,
    "Sunday":7,
}

In [ ]:
data["weekday_ordinal"]=data['weekday'].map(dictionary)

In [ ]:
data

                          Day    weekday  weekday_ordinal
0  2022-02-11 11:22:04.629880     Friday                5
1  2022-02-10 11:22:04.629880   Thursday                4
2  2022-02-09 11:22:04.629880  Wednesday                3
3  2022-02-08 11:22:04.629880    Tuesday                2
4  2022-02-07 11:22:04.629880     Monday                1
5  2022-02-06 11:22:04.629880     Sunday                7
6  2022-02-05 11:22:04.629880   Saturday                6
7  2022-02-04 11:22:04.629880     Friday                5
8  2022-02-03 11:22:04.629880   Thursday                4
9  2022-02-02 11:22:04.629880  Wednesday                3
10 2022-02-01 11:22:04.629880    Tuesday                2
11 2022-01-31 11:22:04.629880     Monday                1
12 2022-01-30 11:22:04.629880     Sunday                7
13 2022-01-29 11:22:04.629880   Saturday                6
14 2022-01-28 11:22:04.629880     Friday                5

### count or frequency encoding

### Target Guided Ordinal Encoding

In [ ]:
import pandas as pd
df=pd.read_csv('titanic.csv', usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [ ]:
df['Cabin'].fillna("Missing",inplace=True)

In [ ]:
df

     Survived    Cabin
0           0  Missing
1           1      C85
2           1  Missing
3           1     C123
4           0  Missing
..        ...      ...
886         0  Missing
887         1      B42
888         0  Missing
889         1     C148
890         0  Missing

[891 rows x 2 columns]

In [ ]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [ ]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [ ]:
df.groupby(["Cabin"])["Survived"].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [ ]:
ordinal_labels=df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [ ]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'A': 2, 'B': 6, 'C': 4, 'D': 8, 'E': 7, 'F': 5, 'G': 3, 'M': 1, 'T': 0}

In [ ]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_labels2)
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

### Mean Encoding

In [ ]:
mean_ordinal=df.groupby(['Cabin'])['Survived'].mean().to_dict()

In [ ]:
df['mean_ordinal_encode']=df['Cabin'].map(mean_ordinal)
df.head()

   Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854